{% extends "layout.html" %}
{% block main %}
    <div class="username_div" id="form"></div>
    <script src="/static/index.js"></script>
    <div class="grid_channels">
        <div class="channel_title">
            <p>Channels</p>
        </div>
        <div class="message_title">
            <p>Messages</p>
        </div>
        <div class="channel_div">
            <ul id="channels">
                {% for element in keys %}
                    <li><a href="/channel/{{element}}">{{element}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="create_channel_div">
            <input type="text" id="channelname" placeholder="Insert channel name"><br>
            <button id="button">Create Channel</button>
            <script src="/static/channels.js"></script>
        </div>
        <div class="messages_div">
        </div>
        <div class="create_message_div">
            <input type="text" id="text_message" placeholder="Type message here"><br>
            <button id="button3" value="{{name}}">Send</button>
        </div>
    </div>
{% endblock %}
